*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ececec;
}

.main-container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -200px;


}
.comment-flexbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment-text{
    margin: 12px 0;
    font-size: 1.15rem;
    font-weight: 600;
}
.input-box{
    height: 75px;
    width: 465px;
    background-color: #ffffff;
}
.comment-container{
    height: 75px;
    width: 465px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    margin: 10px 0;
    word-break:break-all;
}
